@import "bootstrap/scss/utilities";

$utilities: map-remove($utilities,
    'float',
    'object-fit',
    'opacity',
    'overflow',
    'overflow-x',
    'overflow-y',
    'shadow',
    'focus-ring',
    'top',
    'bottom',
    'start',
    'end',
    'translate-middle',
    'border',
    'border-top',
    'border-end',
    'border-bottom',
    'border-start',
    'border-color',
    'border-width',
    'border-opacity',
    'subtle-border-color',
    'width',
    'max-width',
    'viewport-width',
    'min-viewport-width',
    'height',
    'max-height',
    'viewport-height',
    'min-viewport-height',
    'flex-grow',
    'flex-shrink',
    'flex-wrap',
    'order',
    'negative-margin',
    'negative-margin-x',
    'negative-margin-y',
    'negative-margin-top',
    'negative-margin-end',
    'negative-margin-bottom',
    'negative-margin-start',
    'font-family',
    'color',
    'text-opacity',
    'text-color',
    'link-opacity',
    'link-offset',
    'link-underline',
    'link-underline-opacity',
    'bg-opacity',
    'subtle-background-color',
    'gradient',
    'user-select',
    'pointer-events',
    'rounded-top',
    'rounded-end',
    'rounded-bottom',
    'rounded-start',
    'visibility',
    'z-index',
);
$utilities: map-merge(
    $utilities,
        (
            "line-height": (
                property: line-height,
                class: lh,
                values: (
                    1: 1,
                    2: $line-height-sm,
                    3: $line-height-base,
                    4: $line-height-md,
                    5: $line-height-lg,
                )
            ),
            "display": (
                responsive: false,
                print: false,
                property: display,
                class: d,
                values: block flex none
            ),
            "flex": map-merge(
                map-get($utilities, "flex"),
                (
                    responsive: false,
                )
            ),
            "flex-direction": map-merge(
                    map-get($utilities, "flex-direction"),
                    (
                        responsive: false,
                    )
            ),
            "justify-content": map-merge(
                    map-get($utilities, "justify-content"),
                    (
                        responsive: false
                    ),
            ),
            "align-items": map-merge(
                    map-get($utilities, "align-items"),
                    (
                        responsive: false
                    ),
            ),
            "align-content": map-merge(
                    map-get($utilities, "align-content"),
                    (
                        responsive: false
                    ),
            ),
            "align-self": map-merge(
                    map-get($utilities, "align-self"),
                    (
                        responsive: false
                    ),
            ),
            "margin": map-merge(
                    map-get($utilities, "margin"),
                    (
                        responsive: false
                    ),
            ),
            "margin-x": map-merge(
                    map-get($utilities, "margin-x"),
                    (
                        responsive: false
                    ),
            ),
            "margin-y": map-merge(
                    map-get($utilities, "margin-y"),
                    (
                        responsive: false
                    ),
            ),
            "margin-top": map-merge(
                    map-get($utilities, "margin-top"),
                    (
                        responsive: false
                    ),
            ),
            "margin-end": map-merge(
                    map-get($utilities, "margin-end"),
                    (
                        responsive: false
                    ),
            ),
            "margin-bottom": map-merge(
                    map-get($utilities, "margin-bottom"),
                    (
                        responsive: false
                    ),
            ),
            "margin-start": map-merge(
                    map-get($utilities, "margin-start"),
                    (
                        responsive: false
                    ),
            ),
            "padding": map-merge(
                    map-get($utilities, "padding"),
                    (
                        responsive: false
                    ),
            ),
            "padding-x": map-merge(
                    map-get($utilities, "padding-x"),
                    (
                        responsive: false
                    ),
            ),
            "padding-y": map-merge(
                    map-get($utilities, "padding-y"),
                    (
                        responsive: false
                    ),
            ),
            "padding-top": map-merge(
                    map-get($utilities, "padding-top"),
                    (
                        responsive: false
                    ),
            ),
            "padding-end": map-merge(
                    map-get($utilities, "padding-end"),
                    (
                        responsive: false
                    ),
            ),
            "padding-bottom": map-merge(
                    map-get($utilities, "padding-bottom"),
                    (
                        responsive: false
                    ),
            ),
            "padding-start": map-merge(
                    map-get($utilities, "padding-start"),
                    (
                        responsive: false
                    ),
            ),
            "gap": map-merge(
                    map-get($utilities, "gap"),
                    (
                        responsive: false
                    ),
            ),
            "row-gap": map-merge(
                    map-get($utilities, "row-gap"),
                    (
                        responsive: false
                    ),
            ),
            "column-gap": map-merge(
                    map-get($utilities, "row-gap"),
                    (
                        responsive: false
                    ),
            ),
            "text-align": map-merge(
                    map-get($utilities, "text-align"),
                    (
                        responsive: false
                    ),
            ),
        ),
);