@import "bootstrap/scss/utilities";

$utilities: map-remove($utilities,
    'float',
    'object-fit',
    'opacity',
    'overflow',
    'overflow-x',
    'overflow-y',
    'shadow',
    'focus-ring',
    'top',
    'bottom',
    'start',
    'end',
    'translate-middle',
    'border',
    'border-top',
    'border-end',
    'border-bottom',
    'border-start',
    'border-color',
    'border-width',
    'border-opacity',
    'subtle-border-color',
    'width',
    'max-width',
    'viewport-width',
    'min-viewport-width',
    'height',
    'max-height',
    'viewport-height',
    'min-viewport-height',
    'flex-grow',
    'flex-shrink',
    'flex-wrap',
    'order',
    'negative-margin',
    'negative-margin-x',
    'negative-margin-y',
    'negative-margin-top',
    'negative-margin-end',
    'negative-margin-bottom',
    'negative-margin-start',
    'font-family',
    'color',
    'text-opacity',
    'text-color',
    'link-opacity',
    'link-offset',
    'link-underline',
    'link-underline-opacity',
    'bg-opacity',
    'subtle-background-color',
    'gradient',
    'user-select',
    'pointer-events',
    'rounded-top',
    'rounded-end',
    'rounded-bottom',
    'rounded-start',
    'visibility',
    'z-index',
);
$utilities: map-merge(
        $utilities,
            (
                "line-height": (
                    property: line-height,
                    class: lh,
                    values: (
                        1: 1,
                        2: $line-height-sm,
                        3: $line-height-base,
                        4: $line-height-md,
                        5: $line-height-lg,
                    )
                ),
            )
);