$icomoon-font-family: "wcloud-multi" !default;
$icomoon-font-path: "../fonts" !default;

$ico-passcode-lock: unquote('"\\e900"');

$ico-eye-off: unquote('"\\e90f"');
$ico-eye: unquote('"\\e910"');
$ico-log-out: unquote('"\\e904"');
$ico-lock: unquote('"\\e905"');
$ico-key: unquote('"\\e906"');
$ico-users: unquote('"\\e907"');
$ico-cloud: unquote('"\\e908"');
$ico-plus-circle: unquote('"\\e909"');
$ico-printer: unquote('"\\e90a"');
$ico-repeat: unquote('"\\e90b"');
$ico-search-refraction: unquote('"\\e90c"');
$ico-trash: unquote('"\\e90d"');
$ico-user-plus: unquote('"\\e90e"');
$ico-info-octagon: unquote('"\\e901"');
$ico-info-circle: unquote('"\\e902"');
$ico-check-circle: unquote('"\\e903"');